pip install opencv-python
pip install matplotlib
pip install psutil
pip install tqdm
pip install PyYAML
pip install numpy==1.26.4
pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu121
pip install urllib3
